params {
    publish_dir_mode = "copy"
    input_path = "/data/projects/2022/CRCA/results/v1/artifacts/build_atlas/annotate_datasets/annotate_cell_types_coarse/artifacts/adata.h5ad"
    outdir     = "/data/projects/2022/CRCA/results/v0.1/CMS/out/"
}

process {
    process.executor = 'slurm'

    // Per-process configuration
    withName: ".*EXTRACT_ADATA" {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
        ]
        cpus = 6
    }
    
    withName: ".*CMS_CALLER" {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
        ]
        cpus = 6
    }


}

conda {
    useMamba = true
    enabled = true
}


profiles {
    cluster {
        process.executor = 'slurm'
        process.queue = 'long'
        process.memory = '990 GB'
        process.cores = '2'
        process.queueSize = 600
      
    }
}
